$duration: .3s;
$radius: 5px;

.btn {
  position: relative;
  display: block;
  margin: 1.5em 0;
  padding: .8em 2em;
  border: 1px solid #000;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transform: translate3d(0,0,0);
  &:hover {
    text-decoration: none;
  }
  &--hero {
    width: 280px;
    margin: 1em 0;
    font-size: 20px;
    letter-spacing: .1em;
    color: #fff;
    background-color: rgba(0,0,0,.1);
    border-width: 3px;
    border-color: #fff;
    text-indent: -2em;
    text-transform: uppercase;
    transition: all $duration + .2s ease-out;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $green;
      transition: all $duration + .2s ease-out;
      z-index: -1;
    }
    &:hover {
      border-color: $green;
      &:after {
        width: 100%;
      }
    }
  }
  &--rotate {
    $font-size: 1em;
    $padding-tb: 1em;
    $padding-rl: 0;
    $padding: $padding-tb $padding-rl;
    $border-width: .2em;
    $content-box: ( $font-size + $padding-tb * 2 + $border-width * 2 ) / 2 * -1;
    $color: $green;

    display: block;
    position: relative;
    width: 13em;
    padding: $padding;
    text-indent: -9999em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transform: translate3d(0,0,0);
    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $padding;
      font-family: FontAwesome;
      font-size: $font-size;
      font-weight: 400;
      text-align: center;
      text-indent: 0;
      text-transform: uppercase;
      border-radius: $radius;

      transform-origin: 50% 50% $content-box;
      transition-property: transform opacity;
      transition-duration: $duration;
    }
    &:before {
      content: 'read more \0000a0\0000a0\f138';
      background-color: $green;
      color:#fff;
      text-indent: 2px;
    }
    &:after {
      content: 'go next page \0000a0\0000a0\f08e';
      color: #fff;
      background-color: $blue;
      transform: rotateX(-90deg);
      opacity: .2;
    }
    &:hover {
      &:before {
        transform: rotateX(90deg);
        opacity: .2;
      }
      &:after {
        transform: rotateX(0);
        opacity: 1;
      }
    }
  }
}

