$duration: .3s;
$radius: 5px;

.btn {
  position: relative;
  display: block;
  margin: 1.5em 0;
  padding: .8em 2em;
  border: 1px solid #000;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
  }
  &--hero {
    width: 280px;
    margin: 1em 0;
    font-size: 20px;
    letter-spacing: .1em;
    color: white;
    background-color: rgba(0,0,0,.1);
    border-width: 3px;
    border-color: white;
    text-transform: uppercase;
    transition: all $duration; 
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: width $duration;
      z-index: -1;
    }
    &:hover {
      &:after {
        width: 100%;
      }
      .svg-icon {
        transform: rotate(360deg);
      }
    }
  }
  &--rotate {
    $font-size: 1em;
    $padding-tb: 1em;
    $padding-rl: 0;
    $padding: $padding-tb $padding-rl;
    $border-width: .25em;
    $content-box: ( $font-size + $padding-tb * 2 + $border-width * 2 ) / 2 * -1;
    $color: $green;

    display: block;
    position: relative;
    width: 13em;
    padding: $padding;
    text-indent: -9999em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $padding;
      font-size: $font-size;
      font-weight: 400;
      text-align: center;
      text-indent: 0;
      text-transform: uppercase;
      border-radius: $radius;

      transform-origin: 50% 50% $content-box;
      transition-property: transform;
      transition-duration: $duration;
    }
    &:before {
      content: 'read more';
      color: $green;
      line-height: 1.2;
      border: $border-width solid $green;
    }
    &:after {
      content: 'go next';
      color: #fff;
      background-color: $green;
      transform: rotateX(-90deg);
    }
    &:hover {
      &:before {
        transform: rotateX(90deg);
        opacity: .2;
      }
      &:after {
        transform: rotateX(0);
      }
    }
  }
}

.svg-icon {
  $size: 1.2em;
  width: $size;
  height: $size;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  margin: auto;
  transition: $duration;
  transition-property: transform;
  transition-duration: $duration;
  path {
    fill: white;
  }
}

