.fa {
  position: relative;
  color: #fff;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero & {
    width: 55px;
    height: 55px;
    font-size: 26px;
    opacity: .6;
    background-color: #000;
    border-radius: 50%;
    transition-duration: .3s;
  }
  .hero .btn & {
    position: absolute;
    top: 0;
    right: .2em;
    bottom: 0;
    margin: auto;
    font-size: 28px;
    opacity: 1;
    background-color: transparent;
  }
  .section--test & {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #c8c8c8;
    &:hover {
      background-color: $green;
    }
  }
}

$duration: .8s;
$delay-init: 0s;
$delay-unit: $duration / 10;

.popup {
  animation-name: pop;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform: translate3d(0,0,0);

  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}n) {
      animation-delay: $delay-init + $delay-unit * ($i - 1);
    }
  }

  & .fa {
    opacity: 1;
    animation-name: bgc;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}n) .fa {
      animation-delay: $delay-init + $delay-unit * ($i - 1);
    }
  }

  @keyframes pop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes bgc {
    100% {
      background-color: $green;
    }
  }
}

.popdown {
  & .fa {
    opacity: 1;
    animation-name: fadeout;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background-color: $green;
  }

  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}n) .fa {
      animation-delay: $delay-init + $delay-unit * (3 - $i);
    }
  }
  @keyframes fadeout {
    0% {
      background-color: $green;
    }
    100% {
      opacity: .6;
      background-color: black;
    }
  }
}

